# Freqtrade Data (Very large)
user_data/data/*
user_data/backtest_results/*
user_data/logs/*
user_data/*.sqlite
user_data/*.json
user_data/plot/
user_data/hyperopt_results
user_data/hyperopts
user_data/notebooks

# Keep the strategy files
!user_data/strategies/FibonacciStrategy.py
!user_data/strategies/FibonacciStrategy.json

# Keep the config but WARNING: Remove tokens before pushing!
!user_data/backtest_config.json

# Python/System
__pycache__/
*.pyc
.DS_Store

# Environment variables
.env
.venv
venv/

#backtesting data
historical_data/*

#keep the files to retrieve atl-ath data
!historical_data/fib_retracement.py
!historical_data/get_atl.py
!historical_data/tickers.txt
 